
<launch>
    <!--  ***************** Robot simulation *****************  -->
    <node pkg="first_project" type="transform" name="transform"></node>
    <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure"></node>

    <!--  **************** Visualisation ****************  -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find first_project)/rviz/odometry.rviz"/>
</launch>
